@import "./mixins.scss";
@import "./variables.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
  max-width: 100vw;
  width: 100%;
}

.red{
  color: $light-red;
}

.navbar{
  width: 100%;
  @include flex(row, space-between);
  position: fixed;
  z-index: 1;
  padding: 0.75rem 1rem;
  background: #ffffff;
  background: linear-gradient(0deg, #00000000 0%, #e2e1e1d1 45%, #7A552F 90%);

  ul{
    @include flex(row);
    display: none;
  }

  .logo{
    width: 2.6rem;
  }

  .nav-button{
    cursor: pointer;
    background-color: initial;
    border: none;
  }
}

.first-section{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Dancing Script', cursive, 'Open Sans';

  h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 7.5rem;
    line-height: 7.5rem;
    letter-spacing: 0.5rem;
    font-weight: normal;
    font-family: 'Six Caps', sans-serif;
    color: $dark-gray;
  }

  h2{
    font-size: 1.5rem;
    font-weight: normal;
  }

  hr{
    width: 75vw;
    background-color: $gray;
    margin: 0.5rem 0;
  }

  .image-wrapper{
    width: 75vw;
    clip-path: circle(60% at 50% 70%);

    img{
      width: 100%;
    }
  }
}

.carousel-wrapper{
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 4rem 0;

  .carousel:first-child{
   margin-bottom: $carousel-gap;
  }
}

.carousel{
  width: 100%;
  @include flex($direction: row, $justify: center);
  gap: $carousel-gap;

  
  .carousel-image{
    aspect-ratio: 1/1;
    width: 9rem;
    height: 100%;
    flex-shrink: 0;

    img{
      aspect-ratio: 1 / 1;
      width: 100%;
      height: 100%;
    }
  }

  .carousel-image.aspect-4X3 img{
    height: 12rem;
  }
}

.release-section{
  margin: 4rem 0;
  padding-bottom: 2.5rem;
  background:
    linear-gradient(139deg, rgba(49,26,16,1) 0%, rgba(105,69,30,1) 50%, rgba(26,23,19,0.7539390756302521) 86%),
    url('../assets/images/patryk-gauza-vs0tzSHVcac-unsplash\ \(1\).jpg');
  background-size: cover;
  color: $white;
  @include flex($direction: column);

  .tag{
    position: relative;
    top: 15%;
    left: -22.5%;
    clip-path: inset(0% 0% -200% 0% round 10px);

    h2{
      padding: 0.1rem 3rem;
      font-family: 'Oranienbaum', system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: xx-large;
      font-weight: normal;
      background-color: #4B3622;
      border: 3px solid #DE9E3D;
      rotate: -35deg;
    }
  }

  .product{
    @include flex($direction: column, $align: center);
    font-family: 'Vollkorn', sans-serif;
    font-size: small;
    gap: 5px;
    width: min-content;

    &:nth-child(even){
      align-self: end;
    }

    img{
      border-radius: 50%;
      width: 200px;
      height: 200px;
    }
  }
}

.schedule-section{
  @include flex($direction: column, $align: center);
  margin: 4rem 0;
  padding: 0 1rem;
  font-family: 'Oranienbaum', system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: uppercase;

  h2{
    position: relative;
    display: inline-block;
    margin: 0 auto 2rem auto;
    font-weight: normal;
    font-size: xx-large;
    color: $red;

    &::after{
      content: "";
      display: block;
      margin-top: 0.25rem;
      width: 100%;
      height: 1px;
      background-color: $red;
    }

    &::before{
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateY(50%);
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $red;
      clip-path: inset(50% 0 0 0);
    }
  }

  ul{
    font-size: large;
    list-style-type: none;
  }

  li{
    border-bottom: 1px solid $gray;

    &:not(:first-child){
      margin-top: 2.5rem;
    }

    span{
      display: block;
      margin: 0.25rem 0;
    }
    span.red{
      font-size: x-large;
    }
  }
}




