@import "./mixins.scss";
@import "./variables.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
  max-width: 100vw;
  width: 100%;
  font-family: 'Oranienbaum', system-ui, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

ul{list-style-type: none;}

a{
  color: inherit;
  height: min-content;
}

.red{ color: $light-red; }

.container{ max-width: 1400px; }

.navbar{
  @include flex($direction: row, $justify: space-between, $align: center);
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 0.4rem 1rem;
  background: #ffffff;
  background: linear-gradient(0deg, #00000000 0%, #e2e1e1d1 45%, #7A552F 90%);


  @include medium{
    padding: 1.25rem 3rem;
  }

  @include large{
    padding: 0.25rem 5rem;    

    .nav-button, .nav-button-close, .baseboard{
      display: none;
    }
  }

  a{
    color: $red;
    text-decoration: none;
    font-size: 2.5rem;

    @include large{
      font-size: 1.75rem;
    }
  }

  button{
    cursor: pointer;
    background-color: initial;
    border: none;
  }

  ul{
    width: fit-content;

    li{ padding: 1rem 0;}
  }

  .nav-list-toogle{
    @include flex($direction: column, $justify: space-between);
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    padding: 2rem 1.5rem;
    background-color:  #D9D9D9;

    @include large{
      width: fit-content;
      position: static;
      background-color: initial;
      padding: 0;

      ul{
        @include flex($direction: row, $gap: 2.25rem);
        li{ padding: 0; }
      }
    }

    .baseboard{
      max-width: 100%;
      text-align: center;
      font-family: 'Dancing Script';
      font-size: 2rem;
      color: $red;

      svg{ width: 100%; }
    }
  }

  .nav-list-toogle.hidden{
    display: none;
    @include large{ display: flex; }
  }

  .logo{ width: 2.6rem; }

  .nav-button-close{
    align-self: flex-end;
    font-size: 2rem;
    font-family: initial;
    color: $red;
  }
}

.first-section{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Dancing Script', cursive, 'Open Sans';

  h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 7.5rem;
    line-height: 7.5rem;
    letter-spacing: 0.5rem;
    font-weight: normal;
    font-family: 'Six Caps', sans-serif;
    color: $dark-gray;

    @include small{
      font-size: 9rem;
      line-height: 9rem;
    }

    @include medium{
      font-size: 12rem;
      line-height: 12rem;
    }
  }

  h2{
    font-size: clamp(1.6rem, calc(1.6rem + 0.24vw), 2.1rem);
    font-weight: normal;
  }

  hr{
    max-width: 80vw;
    width: 20rem;
    background-color: $gray;
    margin: 0.5rem 0;

    @include medium{
      width: 25rem;
      margin: 0.5rem 0;
    }
  }

  .image-wrapper{
    max-width: 80vw;
    width: 20rem;
    clip-path: circle(60% at 50% 70%);

    @include medium{ width: 30rem; }

    img{ width: 100%; }
  }
}

.carousel-wrapper{
  overflow: hidden;
  position: relative;
  width: 100%;

  .carousel:first-child{
   margin-bottom: $carousel-gap;

   @include small{ margin-bottom: calc($carousel-gap * 2); }
  }
}

.carousel{
  @include flex($direction: row, $justify: center);
  gap: $carousel-gap;

  @include small{gap: calc($carousel-gap * 2)}
  @include medium{gap: calc($carousel-gap * 6 )}

  .carousel-image{
    width: calc(7.5rem + 5vw);
    height: 100%;
    flex-shrink: 0;

    img{
      aspect-ratio: 1 / 1;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .carousel-image.aspect-4X3 img{ aspect-ratio: 3 / 4; }
}

.release-section{
  position: relative;
  padding: 5rem 0;
  background:
    linear-gradient(139deg, rgba(49,26,16,1) 0%, rgba(105,69,30,1) 50%, rgba(26,23,19,0.7539390756302521) 86%),
    url('../assets/images/patryk-gauza-vs0tzSHVcac-unsplash312.jpg');
  background-size: cover;
  color: $white;

  .tag{
    position: absolute;
    top: 2.5rem;
    left: -7.5rem;
    width: 25rem;
    clip-path: inset(-2.5rem 0% -200% 0%);

    @include large{
      width: 30rem;
      left: -5rem;
      top: 4rem;
      clip-path: inset(-4rem 0% -200% 0%);
    }

    h2{
      font-size: clamp(2.33rem, calc(2.12rem + 1.20vw), 3.05rem);
      text-align: center;
      background-color: #4B3622;
      border: 3px solid #DE9E3D;
      transform: rotate(-35deg);
    }
  }

  .products{
    @include flex($direction: column);
    width: 100%;
    margin: 0 auto;
    
    @include small{
      width: 85%;
    }

    @include medium{
      padding: 2rem 0;
      @include flex($direction: row, $justify: space-around)
    }
  }

  .product{
    @include flex($direction: column, $align: center);
    font-family: 'Vollkorn', sans-serif;
    font-size: clamp(1.00rem, calc(0.94rem + 0.36vw), 1.25rem);
    gap: 5px;
    width: min-content;

    &:nth-child(odd){ align-self: end; }

    img{
      border-radius: 50%;
      width: calc(11rem + 6vw);
      height: calc(11rem + 6vw);
      object-fit: cover;
    }
  }
}


.delivery-section{
  margin: 0 auto;
  @include flex($direction: row, $justify: space-around);
  max-width: 500px;

  img{ border-radius: 15px; }

  a{ position: relative; }

  a::before{
    content: url('/assets/arrow-up-right-svgrepo-com\ \(1\).svg');
    display: block;
    opacity: 0;
    position: absolute;
    right: 0;
    border-radius: 0 15px;
    transition: all 300ms;
    background-color: #00000058;
    width: 25px;
    height: 25px;
    z-index: 2;
  }

  a.active::before{ opacity: 1; }

  @include medium{
    img, a, a::before{
      scale: 1.175;
    }
  }
}

.schedule-section{
  @include flex($direction: column, $align: center);
  padding: 0 1rem;
  text-transform: uppercase;

  h2{
    position: relative;
    display: inline-block;
    margin: 0 auto 2rem auto;
    font-weight: bold;
    font-size: clamp(2.20rem, calc(2.14rem + 0.30vw), 2.44rem);
    color: $red;

    @include medium{
      margin: 0 auto 4rem auto;
    }

    &::after{
      content: "";
      display: block;
      margin-top: 0.25rem;
      width: 100%;
      height: 1px;
      background-color: $red;
    }

    &::before{
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translateY(50%);
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: $red;
      clip-path: inset(50% 0 0 0);
    }
  }

  ul{
    @include medium{
      width: 75%;
    }
  }

  li{
    border-bottom: 1px solid $gray;

    &:not(:first-child){
      margin-top: 2.5rem;

      @include medium{
        margin-top: 3.5rem;
      }
    }

    span{
      display: block;
      font-size: clamp(1.76rem, calc(1.72rem + 0.24vw), 1.95rem);
      margin: 0.25rem 0;
    }
  }
}

.release-section, .carousel-wrapper, .schedule-section, .delivery-section{
  margin-bottom: 5rem;
  margin-top: 5rem;

  @include medium{
    margin-bottom: 8rem;
    margin-top: 8rem;
  }
}

footer{
  width: 100%;
  background-color: $brown;
  color: $white;
  padding: 3rem 1rem;
  display: grid;
  gap: 2rem 1rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 
                'cd cd'
                'nav social'
                'logo logo';
  font-size: clamp(1.00rem, calc(0.94rem + 0.36vw), 1.25rem);


  @include medium{
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
                    'cd nav social'
                    'logo logo logo';
    padding: 4rem 10%;
    gap: 3rem 1rem;
  }

  .footer-company-desc{grid-area: cd;}

  .footer-navigation{grid-area: nav;}

  .footer-logo{
    @include flex($direction: column, $align: center);
    gap: 1.3rem;
    grid-area: logo;
    img{
      width: 2.5rem;
      @include medium{ width: 2.75rem; }
    }

    svg{
      width: 100%;
    }

    @include medium{
      svg{ scale: 1.5;}
    }

    .footer-logo-delivery{ @include flex($direction: row, $gap: 10px); }
  }
  
  ul{
    @include flex($direction: column, $gap: 0.6rem)
  }

  a{text-decoration: none;}

  h3{
    font-size: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
    margin-bottom: 0.75rem;
  }
}

html {
  visibility: visible;
  opacity: 1;
}




