@import "./mixins.scss";
@import "./variables.scss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
  max-width: 100vw;
  width: 100%;
}

.navbar{
  width: 100%;
  @include flex(row, space-between);
  position: fixed;
  z-index: 1;
  padding: 0.75rem 1rem;
  background: #ffffff;
  background: linear-gradient(0deg, #00000000 0%, #e2e1e1d1 45%, #7A552F 90%);

  ul{
    @include flex(row);
    display: none;
  }

  .logo{
    width: 2.6rem;
  }

  .nav-button{
    cursor: pointer;
    background-color: initial;
    border: none;
  }
}

.first-section{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Dancing Script', cursive, 'Open Sans';

  h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 7.5rem;
    line-height: 7.5rem;
    letter-spacing: 0.5rem;
    font-weight: normal;
    font-family: 'Six Caps', sans-serif;
    color: $dark-gray;
  }

  h2{
    font-size: 1.5rem;
    font-weight: normal;

    &.red{
      color: $light-red;
    }
  }

  hr{
    width: 75vw;
    background-color: $gray;
    margin: 0.5rem 0;
  }

  .image-wrapper{
    width: 75vw;
    clip-path: circle(60% at 50% 70%);

    img{
      width: 100%;
    }
  }
}

.carousel-wrapper{
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 4rem 0;

  .carousel:first-child{
   margin-bottom: $carousel-gap;
  }
}

.carousel{
  width: 100%;
  @include flex($direction: row, $justify: center);
  gap: $carousel-gap;

  
  .carousel-image{
    aspect-ratio: 1/1;
    width: 9rem;
    height: 100%;
    flex-shrink: 0;

    img{
      aspect-ratio: 1 / 1;
      width: 100%;
      height: 100%;
    }
  }

  .carousel-image.aspect-4X3 img{
    height: 12rem;
  }
}




