*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #ffffff;
}

.navbar{
  width: 100vw;
  position: sticky;
  padding: 1.25rem;
  background: #ffffff;
  background: linear-gradient(0deg, #00000000 50%, #7A552F 100%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  ul{
    display: flex;
    flex-direction: row;
    display: none;
  }

  .logo{
    width: 2.6rem;
  }
}

.nav-button{
  cursor: pointer;
  background-color: initial;
  border: none;
}