$light-red: #992C2C;
$red: #740001;
$white: #F9EAE4;
$gray: #C6C7C8;
$dark-gray: #23272B;
$brown: #48260C;
$carousel-gap: 1rem;
$sm-width: 550px;
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1440px;