$light-red: #992C2C;
$red: #740001;
$white: #F9EAE4;
$gray: #C6C7C8;
$dark-gray: #23272B;
$brown: #432C20;
$carousel-gap: 1rem;
$footer-fs: clamp(1.00rem, calc(0.94rem + 0.36vw), 1.25rem);
$sm-width: 550px;
$md-width: 768px;
$lg-width: 1024px;
$xl-width: 1440px;